@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat-light-webfont.woff2') format('woff2'),
       url('../fonts/montserrat-light-webfont.woff') format('woff'),
       url('../fonts/montserrat-light-webfont.ttf') format('truetype'),
       url('../fonts/montserrat-light-webfont.svg#montserratlight') format('svg');
  font-weight: 300;
  font-style: normal;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 24px;
  letter-spacing: 1px;
  color: #396335;
  padding: 1em;
  margin: 1em;
}

.title {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  display: inline-block;
  font-weight: 700;
  font-size: 42px;
  letter-spacing: 1px;
  position: relative;
  padding-bottom: 20px;
  color: #ae20b3;
  background: -webkit-linear-gradient(330deg, #207a1a 0%, #24b32f 25%, #1edb27 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 36px;
  color: #396335;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.comment{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 18px;
  color: #396335;
  word-spacing: 3px;
  padding-bottom: 15px;
}

.btn-420 {
  background-color: #24b32f !important;
  color: #fafafa !important;
  font-weight: 600 !important;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase !important;
}

.btn-420-bordered {
  border-color: #24b32f !important;
  color: #24b32f !important;
  font-weight: 600 !important;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 10px !important;
}

.btn-420-bordered:hover{
  background-color: #24b32f !important;
  color: #fafafa !important;
}

.form-420{
  font-family: 'Montserrat', sans-serif;
}


.table-420{
  color: #396335 !important;
  font-family: 'Montserrat', sans-serif;
}

.table-title-420{
  text-transform: uppercase;
  text-align: center;
}

.div-a-420{
  padding:2px !important;
}

.a-420{
  text-decoration: none !important;
}

th {
  font-weight: 300;
}